{% extends "home.html" %}

{% block content %}

{% if overview_spec == 'hives' %}
    <h2>{{ hives_place_name }}, počet včelstev: {{ hives_count }}.</h2>
    {% include 'hives_table.html' %}
{% elif overview_spec == 'visits' %}
    {% include 'visits_table.html' %}
{% elif overview_spec == 'mothers' %}
    {% include 'mothers_table.html' %}
{% else %}
    <h2>Stanovišť: {{ hives_places_count }} <br>
        Včelstev: {{ hives_count }}</h2>
    {% include 'hives_places_table.html' with hives_places=hives_places %}
{% endif %}



{% endblock %}