<!-- visits_table.html -->

{% load custom_filters %}
<table class="hive-description">
    <tbody>
        <tr>
            <td>Včelstvo č.:</td>
            <td>
                {{ user_hive.number }}
                {% if user_hive.active == False %}
                     (zrušené)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Stanoviště:</td>
            <td>
                {% if user_hive.place.active == True %}
                    <a href="{% url 'hives_place' user_hive.place.id %}">{{ user_hive.place.name }}</a>
                {% else %}
                    {{ user_hive.place.name }} (zrušené)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Matka:</td>
            {% with mother=user_hive.mother.first %}
        <td>
            {% if mother.active == True %}
                <a href="{% url 'mothers' mother.id %}">{{ mother.mark }} ({{ mother.year }})</a>
            {% else %}
               {{ mother.mark }} (zrušená) <a href="{% url 'add_mother' user_hive.id %}">Přidat matku</a>
            {% endif %}
        </td>
    {% endwith %}
        </tr>
    </tbody>
</table>

<table class="table basic-table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Typ</th>
            <th>Provedené úkony</th>
            <th>Kondice</th>
            <th>Velikost plodiště</th>
            <th>Velikost medníku</th>
            <th>Medný výnos</th>
            <th>Aplikace léčiva</th>
            <th>Onemocnění</th>
            <th>Spad</th>
            <th>Poznámka</th>
            <th><a href="{% url 'add_visit' user_hive.id %}">Zapsat prohlídku</a></th>
        </tr>
    </thead>
    <tbody>
        {% for visit in user_visits %}
            <tr>
                <td>{{ visit.date|date:"d. m. Y" }}</td>
                <td>{{ visit.inspection_type }}</td>
                <td>
                    {% for task in visit.performed_tasks.all %}
                        <div>{{ task.name }}</div>
                    {% endfor %}
                </td>
                <td>{% if visit.condition is not None %}{{ visit.condition }}{% endif %}</td>
                <td>{% if visit.hive_body_size is not None %}{{ visit.hive_body_size }}{% endif %}</td>
                <td>{% if visit.honey_supers_size is not None %}{{ visit.honey_supers_size }}{% endif %}</td>
                <td>{% if visit.honey_yield is not None %}{{ visit.honey_yield|floatformat:1 }}{% endif %}</td>
                <td>{% if visit.medication_application is not None %}{{ visit.medication_application }}{% endif %}</td>
                <td>{% if visit.disease is not None %}{{ visit.disease }}{% endif %}</td>
                <td>{% if visit.mite_drop is not None %}{{ visit.mite_drop }}{% endif %}</td>
                <td>
                    {% if visit.comment is not None %}{{ visit.comment }}{% endif %}
                </td>
                <td>
                    <div><a href="{% url 'remove_visit' visit.id %}">Smazat prohlídku</a></div>
                    <div><a href="{% url 'edit_visit' visit.id %}">Upravit prohlídku</a></div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
